.container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  min-height: calc(100vh - 104px);
  padding-bottom: 64px;
}
@media (min-width: 600px) {
  .container {
    min-height: calc(100vh - 112px);
    padding-bottom: 0;
  }
}

.phase {
  width: 100%;
  scroll-snap-align: start;
  padding: 16px;
  flex-shrink: 0;
  display: grid;
  gap: 16px;

  align-items: center;
}

@media (min-width: 600px) {
  .phase {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .phase {
    width: calc(100% / 3);
  }
}

.match {
  list-style: none;
}
