<div class="disclamer" *ngIf="currentState === 0">
  <img
    class="disclamer-image"
    src="/assets/amumu-crying.gif"
    alt="Amuru Crying"
  />
  <h1 class="disclamer-text">
    Looks like you don't have created a tournament yet!
  </h1>
  <h2>Please create one to please Amumu</h2>
  <button mat-raised-button color="accent" routerLink="/create">
    Create a Tournament
  </button>
</div>

<div *ngIf="currentState === 1" class="container">
  <ul class="phase" *ngFor="let phase of tournament; let i = index">
    <li class="match" *ngFor="let match of phase; let j = index">
      <app-match
        [bestOf]="bestOf"
        [match]="match"
        [addScore]="addScore(i, j)"
      ></app-match>
    </li>
  </ul>
  <app-control-options
    [clearTournament]="clearTournament"
    [resetTournament]="resetGame"
  ></app-control-options>
</div>
