<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Summoners Rift</span>
  </mat-toolbar-row>
</mat-toolbar>

<nav mat-tab-nav-bar mat-align-tabs="start" class="nav-tab">
  <a
    mat-tab-link
    routerLink="/create"
    routerLinkActive
    #rla1="routerLinkActive"
    [active]="rla1.isActive"
    >Create</a
  >
  <a
    mat-tab-link
    routerLink="/tournament"
    routerLinkActive
    #rla2="routerLinkActive"
    [active]="rla2.isActive"
    >Tournament</a
  >
</nav>

<router-outlet></router-outlet>
