.toolbar,
.nav-tab {
  position: fixed;
  z-index: 10;
}

.nav-tab {
  background-color: var(--gray-1);
  width: 100%;
  top: 56px;
}

.container {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 900px;
}

.router-container {
  padding-top: 112px;
}

@media (min-width: 600px) {
  .nav-tab {
    top: 64px;
  }
}
