.toolbar,
.nav {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  background-color: var(--gray-1);
  top: 56px;
}
// Overwrites default Material styling confliting with custom border in .nav
.mat-tab-nav-bar {
  border: none;
}

.container {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 900px;
}

.router-container {
  padding-top: var(--top-spacing);
}

@media (min-width: 600px) {
  .nav {
    top: 64px;
  }
}
