.teamsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.teamsList-item {
  width: 100%;
}

.team-card {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.team-name {
  width: 100%;
  white-space: nowrap;
}
